.th{
    text-align: center;
    color: brown;
    
    
}
body{ background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlORlktwSglU9jMCEUFsAY9VV8GncfAXPcnQ&usqp=CAU") ;
    background-size:cover ;
    background-repeat: no-repeat;

}